* {
    padding: 0;
    margin: .5em 0;
    box-sizing: border-box;
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;
    padding: .7em;
    /*width: 100%;*/
    background-color: hotpink;
    justify-content: center;
}

.alert-info, .hidden-on-desktop {
    border: 2px solid #c1c1c1;
    background: #ccffff;
    /*margin: 0 auto;*/
    padding: 1em;
    width: 100%;
    align-items: center;
    text-align: center;
}

div a {
    text-decoration: none;
    color: black;
}

h1{
    text-align: center;
}

nav {
    display: flex;
    justify-self: center;
}
li>a {
    text-align: center;
}

ul{
    display: flex;
    flex-direction: column;


}

li{
    display: flex;
    background-color: #c1c1c1;
    width: 100%;
    /*margin: .5em auto;*/
    /*align-content: space-between;*/
    padding: 1em;

}

li a{

}


.nav-links{

}

#main h2 {

}



















/*// this css is for desktop*/
@media screen and (min-width:500px) {
    * {
        color: hotpink;
    }
}