@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: .5em 0;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;

}
body {
    display: flex;
    flex-direction: column;
    padding: .7em;
    /*width: 100%;*/
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
}
.alert-info, .hidden-on-desktop {
    border: 2px solid #c1c1c1;
    background: #ccffff;
    /*margin: 0 auto;*/
    padding: 1em;
    width: 100%;
    align-items: center;
    text-align: center;
}
div a {
    text-decoration: none;
    color: black;
}
h1 {
    margin-top: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
}
nav {
    display: flex;
    justify-self: center;
}
li > a {
    text-align: center;
    font-size: large;
}
ul {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
}
li {
    display: flex;
    background-color: #c1c1c1;
    width: 100%;
    padding: .4em;
}
img {
    margin-top: 0;
    margin-bottom: 0;
}
 p {
    font-weight: normal;
}
 .sub-section {
    font-style: italic;
}
footer p {

    margin-top: 3em;
    font-size: small;
}
footer {
    display: flex;
    justify-content: space-between;
    margin-top: 15%;
}
footer > p{
    width: 200px;
    margin-top: auto;
    margin-bottom: auto;
}
#social-media-links {
    display: flex;
    flex-direction: row;
    width: 100px;
}
/* this css is for desktop */
@media screen and (min-width:500px) {
    body{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 1.5em;
    }
    .hidden-on-desktop {
        display: none;
    }
    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    li {
        display: flex;
        flex-direction: row;
        background: none;
        width: 80px;
    }
    h1 {
        position: absolute;
        top: .5em;
        left: .5em;
        width: 200px;
        margin: 0;
        padding: 0;
    }
    section{
        width: 50%;
    }
    #main{
        padding-right: 1em;
        margin: 0  auto 0 0;
        width: 60%;
    }
    /* This is the last thing I'm trying to fix, for some reason it breaks at over 90% ish browser width.
    We may just have to stretch it. I was trying to keep a nice 900x400.*/
    /*.header-img {*/
    /*    margin-left: auto;*/
    /*    margin-right: auto;*/
    /*    height: 400px;*/
    /*    width: 900px;*/
    /*}*/

    img{
        padding-bottom: 1em;
    }

    .sub-section {
        padding-left: 2em;
        width: 30%;
    }

    footer {
        margin-top: 30%;
    }

    footer > p{
        margin-left: 15px;
    }
}